body {
background-size: 700px;
background-image: url("images/deer-double-exposure-logo-nobg.png");
background-color: gainsboro;
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
font-family: century gothic medium, sans-serif;
}

.container-fluid {
    max-height: 100%;
    background-color: gainsboro;
}

.logo {
display: none;
margin-top: 30px;
margin-bottom: 30px;
}

p {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
display: none;
background: rgba(86, 142, 143, 0.8);
color: black;
font-size: 22px;
font-weight: bold;
padding: 40px;
text-align: center;
font-family: century gothic medium, sans-serif;
}

.link:hover {
    cursor: pointer;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

#logos {
    width: 500px;
    cursor: pointer;
}


.footer{
    margin-top: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(86, 142, 143, 0.8);
    color: black;
    font-size: 22px;
    font-weight: bold;
    font-family: century gothic medium, sans-serif;
    padding: 15px;
}
